<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.enlighten.rexcited">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilesActivity"
            android:label="@string/title_files"></activity>
        <activity
            android:name=".PreviewActivity"
            android:label="@string/title_preview" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_test" />
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_answer" />
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_report" />
        <activity
            android:name=".OCRActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".EditFileActivity"
            android:label="@string/edit" />
        <activity
            android:name=".MeActivity"
            android:label="@string/title_me"></activity>
    </application>

</manifest>